# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# PyTorch checkpoints / model weights
checkpoints/
*.pth
*.pt

# Data and outputs
data/
outputs/
*.csv

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
